.Input {
  display: flex;
  width: 100%;
  min-height: 2rem;
  align-items: center;
  border: 1px solid transparent;
}
.Input:focus-within {
  border-color: var(--color-brand);
}

.Icon {
  width: 2rem;
  min-height: 2rem;
}

.LexicalContainer {
  width: 100%;
  background-color: var(--background-color-default);
  border-top: 1px solid var(--background-color-contrast-3);
  border-bottom: 1px solid var(--background-color-contrast-3);
  color: var(--color-default);

  font-family: Menlo, Consolas, monospace;
  font-size: 14px;
  position: relative;
}

.LexicalContentEditable {
  padding: 0.5ch;
  background: none;
  border: none;
  outline: none;
  position: relative;
}

/* HACK */
.LexicalContentEditable p {
  margin: 0;
}
